@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;
  --breakpoint-4xl: 2560px;

  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --color-sidebar: hsl(var(--sidebar-background));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));

  --color-status-compliant: hsl(var(--status-compliant));
  --color-status-compliant-foreground: hsl(var(--status-compliant-foreground));

  --color-status-due-soon: hsl(var(--status-due-soon));
  --color-status-due-soon-foreground: hsl(var(--status-due-soon-foreground));

  --color-status-non-compliant: hsl(var(--status-non-compliant));
  --color-status-non-compliant-foreground: hsl(
    var(--status-non-compliant-foreground)
  );

  --color-status-never: hsl(var(--status-never));
  --color-status-never-foreground: hsl(var(--status-never-foreground));

  --color-critical: var(--critical);
  --color-critical-foreground: var(--critical-foreground);

  --color-urgent: var(--urgent);
  --color-urgent-foreground: var(--urgent-foreground);

  --color-important: var(--important);
  --color-important-foreground: var(--important-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);

  --color-audit: var(--audit);
  --color-audit-foreground: var(--audit-foreground);

  --color-pending: hsl(var(--pending));
  --color-pending-foreground: hsl(var(--pending-foreground));

  --color-status-new: hsl(var(--status-new));
  --color-status-new-foreground: hsl(var(--status-new-foreground));

  --animate-pop-once: pop 600ms ease-out forwards;

  @keyframes pop {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer utilities {
  html,
  body {
    /* @apply bg-background; */

    @media (prefers-color-scheme: dark) {
      color-scheme: dark;
    }
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142 86% 28%;
    --radius: 0.5rem;
    --chart-1: 139 65% 40%;
    --chart-2: 140 74% 44%;
    --chart-3: 142 88% 28%;
    --chart-4: 137 55% 15%;
    --chart-5: 141 40% 9%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    /* CUSTOM */

    /* NEW Inspection Status Colors */
    --status-compliant: 142.1 76.2% 36.3%;
    --status-compliant-foreground: 355.7 100% 97.3%;
    --status-due-soon: 50.7 95.1% 47.8%;
    --status-due-soon-foreground: 0 0% 37.6%;
    --status-non-compliant: 0 100% 60.6%;
    --status-non-compliant-foreground: 0 0% 98%;
    --status-never: 0 0% 88%;
    --status-never-foreground: 0 0% 37.6%;

    --critical: oklch(0.6466 0.1803 309.65);
    --critical-foreground: oklch(0.9411 0.0198 308.72);
    --urgent: oklch(0.6045 0.2253 25.77);
    --urgent-foreground: oklch(0.8776 0.043 18);
    --important: oklch(94.5% 0.129 101.54);
    --important-foreground: oklch(47.6% 0.114 61.907);
    --warning: oklch(94.5% 0.129 101.54);
    --warning-foreground: oklch(47.6% 0.114 61.907);
    --info: oklch(0.8426 0.0851 242.49);
    --info-foreground: oklch(0.5067 0.1806 255.71);
    --audit: oklch(92.8% 0.006 264.531);
    --audit-foreground: oklch(27.8% 0.033 256.848);

    --pending: 50.5 99.2% 47.3%;
    --pending-foreground: 0 0% 98%;

    --status-new: 141.89, 69.16%, 58.04%;
    --status-new-foreground: 141.95, 80.39%, 10%;
  }
  .dark,
  :root[class~="dark"] {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 50%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142 86% 28%;
    --chart-1: 142 88% 28%;
    --chart-2: 139 65% 20%;
    --chart-3: 140 74% 24%;
    --chart-4: 137 55% 15%;
    --chart-5: 141 40% 9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    /* CUSTOM */

    /* NEW Inspection Status Colors */
    --status-compliant: 142.1 70.6% 45.3%;
    --status-compliant-foreground: 144.9 80.4% 10%;
    --status-due-soon: 44.8 100% 48.8%;
    --status-due-soon-foreground: 0 0% 36.9%;
    --status-non-compliant: 0 100% 60.6%;
    --status-non-compliant-foreground: 0 85.7% 97.3%;
    --status-never: 0 0% 24%;
    --status-never-foreground: 0 0% 90.2%;

    --critical: oklch(0.5059 0.247 316.2);
    --critical-foreground: oklch(0.8882 0.0634 316.05);
    --urgent: oklch(0.5418 0.2066 26.17);
    --urgent-foreground: oklch(0.8776 0.043 18);
    --important: oklch(94.5% 0.129 101.54);
    --important-foreground: oklch(47.6% 0.114 61.907);
    --warning: oklch(94.5% 0.129 101.54);
    --warning-foreground: oklch(47.6% 0.114 61.907);
    --info: oklch(0.8426 0.0851 242.49);
    --info-foreground: oklch(0.5067 0.1806 255.71);
    --audit: oklch(0.8602 0.0018 247.84);
    --audit-foreground: oklch(27.8% 0.033 256.848);

    --pending: 50.4 99.2% 42.9%;
    --pending-foreground: 0 0% 98%;

    --status-new: 142.29, 76.64%, 73.14%;
    --status-new-foreground: 141.95, 80.39%, 10%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
