@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* @apply bg-background; */

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142 86% 28%;
    --radius: 0.5rem;
    --chart-1: 139 65% 40%;
    --chart-2: 140 74% 44%;
    --chart-3: 142 88% 28%;
    --chart-4: 137 55% 15%;
    --chart-5: 141 40% 9%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    /* CUSTOM */
    --status-ok: 142.1 76.2% 36.3%;
    --status-ok-foreground: 355.7 100% 97.3%;
    --status-overdue: 50.7 95.1% 47.8%;
    --status-overdue-foreground: 0 0% 37.6%;
    --status-expired: 0 100% 60.6%;
    --status-expired-foreground: 0 0% 98%;
    --status-never: 0 0% 88%;
    --status-never-foreground: 0 0% 37.6%;

    --urgent: 0 100% 60.6%;
    --urgent-foreground: 0 0% 98%;
    --important: 50.7 95.1% 47.8%;
    --important-foreground: 0 0% 37.6%;
  }
  .dark,
  :root[class~="dark"] {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 50%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142 86% 28%;
    --chart-1: 142 88% 28%;
    --chart-2: 139 65% 20%;
    --chart-3: 140 74% 24%;
    --chart-4: 137 55% 15%;
    --chart-5: 141 40% 9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    /* CUSTOM */
    --status-ok: 142.1 70.6% 45.3%;
    --status-ok-foreground: 144.9 80.4% 10%;
    --status-overdue: 44.8 100% 48.8%;
    --status-overdue-foreground: 0 0% 36.9%;
    --status-expired: 0 100% 60.6%;
    --status-expired-foreground: 0 85.7% 97.3%;
    --status-never: 0 0% 24%;
    --status-never-foreground: 0 0% 90.2%;

    --urgent: 0 60.6% 51.2%;
    --urgent-foreground: 0 85.7% 97.3%;
    --important: 44.8 100% 48.8%;
    --important-foreground: 0 0% 36.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
